.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.app-body{
  background-image: image("http://s1.picswalls.com/wallpapers/2014/07/18/beautiful-parrot-wallpaper_104904106_57.jpg");
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container{
  min-height: calc(100vh - 70px);
  background-image: image("http://s1.picswalls.com/wallpapers/2014/07/18/beautiful-parrot-wallpaper_104904106_57.jpg");
}

/* .footer {
    text-align: center;
    height: '60px';
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    padding: 3px;
    background: black;
    color: white;
  } */